body {
    background-color: #dddddd;
}


.title {

    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(46, 66, 181);
    padding: 12px 200px;
    border-radius: 10px;
    margin-top: 10px;

}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 10px 300px;
}

.divpoze {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 300px;
}

p {
    padding: 20px 40px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #cccccc;
    font-size: 18px;
    font-family: "Merriweather", serif;
    background-color: #cccccc;
}

img {
    margin-bottom: 15px;
    border-radius: 10px;
    width: 60%;
    padding: 25px;

}

.cos {
    width: 80%;
}



h1 {
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(23, 58, 255);
}

.ulsus {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lisus {
    display: inline;
}

button {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(46, 66, 181);
    padding: 12px 80px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    color: rgb(46, 66, 181);
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #b3b3b3;
    border: 10px;
    border-radius: 25px;

}

.ulsub{
    display:flex;
    flex-direction: column;
    align-items: center;
} 

h3 {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(46, 66, 181);

}

ul {
    background-color: #cccccc;
    font-family: "Merriweather", serif;
    border-radius: 7%;

}


.uljos {
    margin: 0px;
    padding: 0px;
}

.lijos {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card {
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.container {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px 16px;
    background-color: #cccccc;
}

.container-fluid {

    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.custom-navbar {
    background-color: #cccccc;

}

.navbar-brand {
    font-size: 3.5rem;
    background-color: #cccccc;


}

.navbar-nav {
    font-size: 1.5rem;
    background-color: #cccccc;

}

.card-container {
    text-align: center;
}

.card {
    flex: 1;
    max-width: 18rem;
    display: flex;
    margin: 10px;
    vertical-align: top;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: auto;
}

img {
    width: 500px;
    height: 400px;
}

.social-media-text {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.carousel-item img {
    width: 100%;
    padding: 0;
    height: auto;
    object-fit: cover; 
     margin-right: -50%; 

}

.carousel-item {
    margin-right: -50%; 

}

.carousel,
.carousel-inner,
.carousel-item,
.active {
    padding: 0;
}


.slide {
    padding: 0;
}

.carousel-control-prev {

    padding: 0;
}

.carousel-control-next {

    padding: 0;
}

#carouselExample {

     height: 400px;
    height: auto;
    width: 100%;

    width: 40%;

     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

}

.carousel-inner {

     display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    


}


.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 300px;
}

.carddiv{
    display:flex;
    flex-direction: row;
}

